<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Todos <span clsas="d-block">Somos Estrellas</span></h1>
                    <p class="mb-4">Encuentra tu estilo con KADA.</p>
                    <p><a class="btn btn-secondary me-2" [routerLink]="['/catalogo']">Empieza a Comprar</a>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="hero-img-wrap">
                    <img src="asset\img\LKADA.png" class="img-fluid" alt="Logo KADA">
                </div>
            </div>
        </div>
    </div>
</div><br>
		<div class="product-section">
			<div class="container">
				<div class="row">
					<!-- Start Column 1 -->
					<div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
						<h2 class="mb-4 section-title">Construidos con excelentes materiales</h2>
						<p class="mb-4">Manejamos diferentes tipos de tela, para hacerte sentir comodidad con cada uno de nuestros productos.</p>
						<p><a href="Vista/shop.html" class="btn" [routerLink]="['/catalogo']">Catálogo</a></p>
					</div> 
					<!-- End Column 1 -->
					<!-- Start Column 2 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
						<a class="product-item" [routerLink]="['/catalogo']">
							<img src="asset\img\P.S IMG1.png" class="img-fluid product-thumbnail" alt="producto 1">
							<h3 class="product-title">Baby Tears</h3>
							<strong class="product-price">$178.000.00</strong>
						</a>
					</div> 
					<!-- End Column 2 -->
					<!-- Start Column 3 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
						<a class="product-item" [routerLink]="['/catalogo']">
							<img src="asset\img\P.S IMG2.png" class="img-fluid product-thumbnail" alt="producto 2">
							<h3 class="product-title">Certified Lover Hood</h3>
							<strong class="product-price">$190.000.00</strong>
						</a>
					</div>
					<!-- End Column 3 -->
					<!-- Start Column 4 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
						<a class="product-item" [routerLink]="['/catalogo']">
							<img src="asset\img\P.S IMG3.png" class="img-fluid product-thumbnail" alt="producto 3">
							<h3 class="product-title">Savage Mode</h3>
							<strong class="product-price">$230.000.00</strong>
						</a>
					</div>
					<!-- End Column 4 -->
				</div>
			</div>
		</div>
        <div class="why-choose-section">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-lg-6">
                        <h2 class="section-title">Variedad</h2>
                        <p>Manejamos diferentes categorías de productos, dentro de las cuales se encuentran: </p>
        
                        <div class="row my-5">
                            <div class="col-6 col-md-6">
                                <div class="feature">
                                    <h3>Half Zip</h3>
                                    <p>Este sweater de media cremallera es una versión fresca y moderna de las prendas masculinas clásicas.</p>
                                </div>
                            </div>
        
                            <div class="col-6 col-md-6"> 
                                <div class="feature">
                                    <h3>Crewneck</h3>
                                    <p>El tradicional sweater de cuello redondo es un clásico confiable que nunca pasa de moda.	</p>
                                </div>
                            </div>
        
                            <div class="col-6 col-md-6">
                                <div class="feature">
                                    <h3>Hoodie</h3>
                                    <p>Un hoodie es una prenda de vestir versátil que combina la comodidad de una sudadera con la funcionalidad de una capucha.</p>
                                </div>
                            </div>
        
                            <div class="col-6 col-md-6">
                                <div class="feature">
                                    <h3>Oversize</h3>
                                    <p>La ropa oversize es una clara referencia a los años ochenta, cuando llevar prendas de tallas más grandes estaba a la orden del día.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="img-wrap">
                            <img src="asset\img\colla.png" alt="Collage de productos" class="img-fluid">
                        </div>
                    </div>
        
                </div>
            </div>
        </div>